@import "./src/assets/scss/_variables.scss";

.menu-item-wrapper {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #DDDAD9;
  width: 50vw;
  .menu-item-image-wrapper {
    width: 150px;
    height: 150px;
    margin-right: 10px;
  }
  .menu-item-info-wrapper {
    .item-count-wrapper {
      .item-count-text {
        margin: 0 20px;
      }
      button {
        border: none;
        background-color: $dark-bg;
        color: white;
        height: 30px;
        width: 30px;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .menu-item-wrapper {
    width: 100vw;
  }
}