@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import "src/assets/scss/_fonts.scss";

* {
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Mardoto';
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
